// app global css in SCSS form
.container{
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
}

.invalid-feedback{
  color: $negative;
  height: 26px;
}
.form-control{
  display: block;
  width: 100%;
  border-radius: 0.5em;
}
.card{
  max-width: 480px;
  margin-inline: auto;
}

.btn.btn-link{
  margin-left: 1em;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.flex-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.align-end{
  align-items: flex-end;
}

.flex-center{
  justify-content: center;
}

.custom-border{
  border: 4px dashed;
}

.time-calculator {
  display: flex;
  flex-wrap: wrap;
  border: 8px dashed $secondary;
  padding: 33px;
}

.time-from {
  font-size: 1rem;
  margin-right: 0.5em;
}

.time-to {
  font-size: 1rem;
  margin-right: 0.5em;
}
.mr-sm {
  margin-right: 0.5em;
}
.time-diff {
  font-size: 1rem;
}
.input-container {
  flex: auto;
  margin-right: 1.5em;
}
.select-container {
  width: 150px;
}

.q-field__control-container {
  overflow: hidden !important;
}

.on-right{
  margin-left: 10px !important;
}

.flex-100 {
  flex: 0 0 100%;
  justify-content: center;
  align-items: center;
}

.time-range.custom-flex{
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.time-range .custom-gap{
  gap: 12px;
}

.all-date.custom-flex, .same-date.custom-flex {
  align-items: center;
  gap: 40px;
}