// app global css in SCSS form
.container{
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
}

.invalid-feedback{
  color: $negative;
  height: 26px;
}
.form-control{
  display: block;
  width: 100%;
  border-radius: 0.5em;
}
.card{
  max-width: 480px;
  margin-inline: auto;
}

.btn.btn-link{
  margin-left: 1em;
}