// app global css in SCSS form
.container{
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
}

.invalid-feedback{
  color: $negative;
  height: 26px;
}
.form-control{
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  padding: 7px 0;
  &::placeholder {
    opacity: 0.5;
  }
}

.form-group{
  margin-bottom: 1em;
}
.card{
  max-width: 480px;
  margin-inline: auto;
}

.btn.btn-link{
  margin-left: 1em;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.flex-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.align-end{
  align-items: flex-end;
}

.flex-center{
  justify-content: center;
}

.custom-border{
  border: 4px dashed;
}

@media screen and (max-width: 1249px) {
  .custom-border{
    margin-top: 1em;
  }
}

.time-calculator {
  display: flex;
  flex-wrap: wrap;
  border: 8px dashed $secondary;
  padding: 33px;
  background: #fff;
}

.time-from {
  font-size: 1rem;
  margin-right: 0.5em;
}

.time-to {
  font-size: 1rem;
  margin-right: 0.5em;
}
.mr-sm {
  margin-right: 0.5em;
}

.time-diff {
  font-size: 1rem;
  @media screen and (min-width: 590px) {
    margin-left: 24px;
  }
}
.input-container {
  flex: auto;
  margin-right: 1.5em;
}
.select-container {
  width: 150px;
}

.q-field__control-container {
  overflow: hidden;
}

.on-right{
  margin-left: 10px;
}

.flex-100 {
  flex: 0 0 100%;
  justify-content: center;
  align-items: center;
}

.time-range.custom-flex{
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.time-range .custom-gap{
  gap: 12px;
}

.all-date.custom-flex, .same-date.custom-flex {
  align-items: center;
  gap: 40px;
}

.workspace-page{
  background: #ffefba;
  .title{
    flex: 0 0 100%
  }
  .title h1{
    font-size: 2.8rem;
  }
  .admin-button{
    flex: 0 0 100%;
  }
  @media screen and (min-width: 700px) {
    .title{
      flex: 0 0 70%
    }
    .admin-button{
      flex: 0 0 30%;
    }
  }
  @media screen and (min-width: 900px) {
    .title h1{
      font-size: 3.5rem;
    }
    .title{
      flex: 0 0 80%
    }
    .admin-button{
      flex: 0 0 20%;
    }
  }
  .q-panel.scroll{
    overflow: hidden;
  }
  .time-calculator{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
}

.q-tab-panels {
  background: none;
}

.workspace-admin{
  h1{
    font-size: 2.8rem;
  }
  @media screen and (min-width: 900px) {
    h1{
      font-size: 3.5rem;
    }
  }
  .q-tab-panels{
    box-shadow: none;
  }
  .q-panel.scroll{
    overflow: hidden;
  }
  &.custom-full-height {
    min-height: 100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

  }
  
  .q-tab-panel{
    background: none;
    padding-inline: 0;
  }
  
  .q-tab-panel .time-calculator{
    background: #ffffff;
  }
  .q-btn.btn--no-hover .q-focus-helper{
    display: none ;
  }
  
  .q-btn.btn--no-hover{
    height: fit-content;
  }
}

.time-calculator.admin{
  border: 0;
  padding: 33px 33px 8px 33px;
  .time-diff{
    margin-top: 2rem;
  }
}

.create-workspace{
  .custom-height {
    height: 30px;
  }
  .name {
    width: 100%;
    margin-bottom: 1em;
  }
  .mode {
    width: 50%;
  }
  @media screen and (min-width: 800px) {
    .name {
      width: 50%;
      margin-bottom: 0;
    }
    .mode {
      margin-left: 24px;
      width: 20%;
    }
  }
  
  .project-role {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .project-role .input,
  .project-role .chips {
    flex: 0 0 45%;
  }
}

.workspace-card{
  &.my-card {
    width: 200px;
  }
  
  .text-h6 {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .q-card__section{
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
}

.workspaces.flex-custom{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.landingpage{
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  height: 100vh;

  h1{
    font-size: 2.5rem;
  }

  @media screen and (min-width: 900px) {
    h1{
      font-size: 3.5rem;
    }
  }

  .button-section {
    display: flex;
    justify-content: flex-end;
  }
  .button-section a {
    margin-left: 1em;
    font-size: 1rem;
  }
}

.time-wrapper{
  display: flex;
  flex-direction: column;
  &.all-date{
    flex-basis: 100%;
  }
  .time-from{
    font-size: 1.5rem;
    text-align: center;
  }
  .time-to{
    font-size: 1.5rem;
    text-align: center;
  }
  @media screen and (max-width: 404px) {
    &.same-date{
      flex-basis: 100%;
    }
  }
  @media screen and (min-width: 900px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.all-date{
      flex-basis: auto;
    }
    .time-from{
      text-align: left;
    }
    .time-to{
      text-align: left;
    }
  }

}

.add-time-btn{
  align-items: center;
  background-image: linear-gradient(144deg,#9C27B0, #5B42F3 50%,#26A69A);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;

&:active,
&:hover {
  outline: 0;
}

span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

&:hover span {
  background: none;
}

  @media (min-width: 768px) {
    font-size: 24px;
    min-width: 196px;
  }
}

section.user-action{
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  justify-content: space-between;
  align-items: baseline;
}
.select-wrapper{
  width: 180px;
  .q-field__control{
    height: 56px;
  }
}

.custom-select-lg{
  width: 320px;
  margin-left: 1rem;
  .q-field__inner{
    font-size: 2rem;
  }
  .q-field__control{
    min-height: 90px;
  }
  .q-field__marginal{
    height: 90px;
  }
}

.custom-cursor .q-field__native{
  cursor: pointer !important;
}